@media screen and (max-width: 1400px) {
  #profile {
    height: 87vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  #experience{
    height: 50vh;
  }
  
  .section__pic-container img{
  animation: wiggle 6s linear infinite;
  }
  @keyframes revealText {
  0% {
      width: 0;
      opacity: 1;
  }
  50% {
      width: 100%;
      opacity: 1;
  }
  100% {
      width: 0;
      opacity: 0;
  }
}
.section__text__p2 {
  margin: 0;
    color: #f75823;
    font-weight: 800;
    overflow: hidden;
    white-space:nowrap ;
    animation: revealText 3s infinite;

  font-size: 1.8rem;
  margin-bottom: 1rem;
}
}

@media screen and (max-width: 1000px) {
  #desktop-nav {
    display: none;
    
  }
  .menu-links{
    background-color: white;
    border-radius: 10px;
  }
  #hamburger-nav {
    display: flex;
    flex-direction: row-reverse;

  }
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }
  
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 2%;
  }

  .section__pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    
    
  }
  .section__pic-container img {
     animation: none;
    height: 180px;
    width: 180px;
  
  }
  .about-containers {
    margin-top: 0;
  }
  #experience{
    height: fit-content;
  }
  .section__text__p2 {
    text-align: center;
    color: #f75823;
    font-weight: 600;
    overflow: hidden;
    white-space:nowrap ;
    animation: revealText 0s;

  font-size: 1.6rem;
  margin-bottom: 1rem;
}
}

@media screen and (max-width: 500px) {
  nav{
    height: 0;
  }
  .menu-links{
    background-color: white;
    border-radius: 10px;
  }
  
  #contact,
  footer {
    height: 40vh;
  }
  
  #profile {
    height: fit-content;
    margin-bottom: 0;
  }
  
  .section__pic-container img {
    animation: none;
    height: 140px;
    width: 140px;
  
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 40vh;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .about-containers{
    display: flex;
    flex-direction: column;
    
  }
  #experience{
    height: fit-content;
  }
  .section__text__p2 {
    text-align: center;
    color: #f75823;
    font-weight: 600;
    overflow: hidden;
    white-space:nowrap ;
    animation: revealText 0s;

  font-size: 1.6rem;
  margin-bottom: 1rem;
}
}
